/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
body {
    background-color: black;
}

#root {
    display: flex;
    flex-direction: column;
}

/*Navbar*/
.Nav {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    flex-direction: row;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
    padding-bottom: 50px;
    margin-bottom: 100px;
    width: 100%;
    padding: 10px;
    position: relative;
    top: 0;
    color: red;
    font-family: 'Manrope', sans-serif;
}

.Nav h1 {
    text-transform: uppercase;
}

.topnav {
    font-size :1.9em;
    color: white;
    margin-right: 20px;
}

.links {
    display: flex;
    align-items: center;
}

.links a {
    text-decoration: none;
}

.Btn-navbar {
    background-color: red;
    border-radius: 20px;
    padding: 4px;
    width: 100px;
    height: 60px;
    text-align: center;
    font-family: 'Helvetica', sans-serif;
    border-style: none;
    margin-right: 20px;
}

.Btn-navbar a {
    text-decoration: none;
    color: white;
    font-size: 1.3em;
}


.movie {
    margin: 0.5rem;
    background-color: #373b69;
    border-radius: 3px;
    overflow: hidden;
    width: 250px;
    position: relative;
    box-shadow: 0px -3px 5px rgba(0, 0, 0, 0.1);
}

.movie img {
    max-width: 200%;
    width: 250px;
}

.movie span {
    font-size: 110%;
}

.movie-container {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;

}

.movie-info {
    display: flex;
    padding: 0.2rem;
    align-items: center;
    justify-content: space-between;
}

.movie-one{
    display: flex;
    padding: 0.2rem;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.movie-overview {
    position: absolute;
    background-color: aliceblue;
    bottom: 0;
    padding: 0.7rem;
    left: 0;
    right: 0;
    transform: translateY(102%);
    transition: transform 0.3s ease-in-out;
    overflow: auto;
    max-height: 100%;

}

.movie:hover .movie-overview {
    transform: translateX(0);
}

header {
    padding: 0.5rem;
    justify-content: center;
    display: flex;
}

.search {
    font-size: 1rem;
    border: 2px solid #7f83bd;
    font-family: 'Noto Sans Mono', monospace;
    border-radius: 50px;
    padding: 0.5rem 1.2rem;
    color: tomato;
    background-color: transparent;
}

.form {
    justify-content: center;
    display: flex;
}

.add-movie {
    font-size: 1rem;
    border: 2px solid #7f83bd;
    ;
    font-family: 'Noto Sans Mono', monospace;
    border-radius: 50px;
    padding: 0.5rem 1.4rem;
    color: tomato;
    background-color: transparent;
    justify-content: space-between;

}

.button {
    display: inline-block;
    padding: 0.3em 1.2em;
    margin: 0 0.3em 0.3em 0;
    border-radius: 2em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #FFFFFF;
    background-color: #4eb5f1;
    text-align: center;
    transition: all 0.2s;
}

a.button3:hover {
    background-color: #4095c6;

    @media all and (max-width:30em) {
        a.button3 {
            display: block;
            margin: 0.2em auto;
        }
    }
}
